BUNDLE_ANALYZE=false
ENVIRONMENT_NAME=local

# The URL for the domain your app is hosted on (used for generating the urls needed for SEO)
# If you deploy to Vercel or Netlify it is configured through the respective config files (`vercel.json` and `netlify.toml`)
NEXT_PUBLIC_BASE_URL=

# Your current space ID: https://www.contentful.com/help/find-space-id/
CONTENTFUL_SPACE_ID=

# Your current space Content Delivery API access token: https://www.contentful.com/developers/docs/references/content-delivery-api/
CONTENTFUL_ACCESS_TOKEN=

# Your current space Content Preview API access token: https://www.contentful.com/developers/docs/references/content-preview-api/
CONTENTFUL_PREVIEW_ACCESS_TOKEN=

# Your current environment
CONTENTFUL_ENV=

# Mailchimp API Key and Audience ID
MAILCHIMP_API_KEY=
MAILCHIMP_API_SERVER=
MAILCHIMP_AUDIENCE_ID=

# Google Analytics ID
NEXT_PUBLIC_GA_MEASUREMENT_ID=
